# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
venv
env/
.env/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
dist/
build/
*.egg-info/
*.whl
MANIFEST

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# Instance folder
instance/

# Editor and IDE files
.idea/
*.swp
*.swo
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp
*.bak

# Other files
secrets.json # or any other sensitive files